<!-- ユーザーの詳細 -->
<h2>User info</h2>
<div class="col-md-3">
  <table class = "table">
      <tr>
          <th>
            name 
          </th>
          <th>
            <%= @user.name %>
          </th>
      </tr>
  <%= image_tag @user.get_profile_image(100,100) %>
  </table>
  <% if @user == current_user %>
    <div><%= link_to "プロフィール編集", edit_user_path(@user) %></div>
  <% end %>


<!-- bookの投稿 -->
<h2>User info</h2>
  <%= form_with model: @book do |f| %>
    <p>Title</p>
      <%= f.text_field :title %>
    <p>Opinion</p>
      <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>
</div>